body {
    background-color: #ebffe8;
}

.title { 
    font-family: 'Barlow', sans-serif;
    color: 	#2b0067;
}

.create-workout { 
    font-family: 'Barlow', sans-serif;
}

.form-text {
    font-size: 20px; 
    margin: 10px; 
}

.dropdown-text {
    font-family: 'Barlow', sans-serif;
}

.button {
    font-family: 'Barlow', sans-serif;
    margin: 10px; 
    background-color: #4ac4ac; 
    font-size: 18px; 
    cursor: pointer;
}

.auth-text {
    text-decoration: none; 
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

.workout-card {
    border: 5px solid black; 
    width: 10%; 
    margin: 20px; 
    padding: 10px; 
    background-color: #b4ffff; 
    font-family: 'Play', sans-serif;
}

.like-button {
    width: 20%; 
    margin-left: 50px; 
    margin-top: 15px; 
}